body{
    margin: 0;
    padding: o;
    font-family: monserrat;
    background: linear-gradient(150deg,#992525,gray, #992525);
    height: 100vh;
}

.formulariodos{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 400px;
     background: #fff;
     border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario form{
    padding: 0 30px;
    box-sizing: border-box;
}

form .correo{
    position: relative;
    border-bottom: 0px solid #adadad;
    margin: 30px 0;

}

input[type="submit"]{
    width: 50%;
    height: 45px;
    border: 1px solid;
    background: brown;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    margin-bottom: 25px;
}